@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    /* font-size: 17px; */
    font-family: 'Open Sans', sans-serif;
    /* font-weight: 400; */
}

h5::first-letter {
    text-transform: uppercase;
}

button a {
    color: #FFF;
    font-size: inherit;
}

button a:hover{
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
}



.back-btn {
    max-width: 200px;
    margin: 13px 0;
}

.card {
    max-width: 750px;
}

.card-body {
    margin: 0 auto;
}

.btn.btn-primary,
.btn.btn-secondary{
    background-color: #000;
    border-color: #000;
}

.btn.btn-primary:hover,
.btn.btn-secondary:hover{
    background-color: #000000d1;
    border-color: #FFF;
}

.btn.btn-primary:focus,
.btn.btn-secondary:focus{
    background-color: #000000d1;
    border-color: #FFF;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media only screen and (min-width: 992px) {
    .container.main {
        max-width: 750px;
    }
}



/* tessssst */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.drag-area{
  border: 2px dashed #000;
  height: 500px;
  width: 700px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.drag-area.active{
  border: 2px solid #fff;
}
.drag-area .icon{
  font-size: 100px;
  color: #000;
}
.drag-area header{
  font-size: 30px;
  font-weight: 500;
  color: #000;
}
.drag-area span{
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  margin: 10px 0 15px 0;
}
.drag-area button{
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background: #fff;
  color: #5256ad;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
}

.drag-area button:hover{
  background: rgb(228, 220, 220);
}

.drag-area img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}



@media (max-width: 745px) {

  .drag-area button{
    padding: 8px 20px;
    font-size: 18px;
    font-weight: 450;
  }

.drag-area{
  height: 400px;
  width: 450px;
}

.drag-area header{
  font-size: 25px;
  font-weight: 450;
  color: #fff;
}

.drag-area .icon{
  font-size: 80px;
}

}




