.wrapper{
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    min-height: 100vh;
}
body {
    flex: 1;
    background-color: #fafafa;
}
div .container-small {
    max-width: 530px;
    padding: 20px 20px;
    background-color: #fff;
    border-radius: 5px;
}

.register p {
    margin-top: 8px;
    margin-bottom: 0;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media only screen and (min-width: 450px) {
    div .container-small {
    padding: 20px 45px;

    }
}