{# <footer>
    <div class="footer-container">
        <div class="social">
            <ul class="social-list">
                <li class="social-item">instagram</li>
                <li>-</li>
                <li class="social-item">twitter</li>
                <li>-</li>
                <li class="social-item">facebook</li>
                <li>-</li>
                <li class="social-item">snapchat</li>
            </ul>
        </div>
        <div class="language">
            <p>Langue: <span>Français</span></p>
        </div>
        <div class="legal">
            <p>Droit d'auteur &copy; {{ "now"|date("Y") }} Eoffice Inc.</p>
        </div>
    </div>

</footer> #}

<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">&copy; {{ "now"|date("Y") }} Copyright:

      <a href="{{ path('app_homepage') }}"> Eoffice Inc.</a>

    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->