{# <nav>
    <div class="header-container">
        <div class="logo">
            <p>my e-office</p>
        </div>
        <div class="search">
            {% include "includes/_search.html.twig" %}
            <div class="btn-menu">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-list"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                </svg>
            </div>
        </div>
    </div>
</nav> #}

<nav class="navbar navbar-expand-sm navbar-light bg-light">

    <a class="navbar-brand" href="#">e-office</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  

    <div class="collapse navbar-collapse flex-sm-row-reverse" id="navbarSupportedContent">

      {% include "includes/_search.html.twig" %}
    </div>
</nav>