{# <form action="{{ path('app_search') }}" method="GET">
    <input type="search" name="q">
    <input type="submit" value="envoyer">
</form> #}


<form action="{{ path('app_search') }}" class="form-inline my-2 my-lg-0" method="GET">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
