<form method="post" action="{{ path('app_folder_delete',  {id: library.id, slug: folder.slug}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ folder.id) }}">
    <button class="btn">Delete</button>
</form>
