{% extends 'base.html.twig' %}

{% block title %}New Folder{% endblock %}

{% block body %}
    <h1>Create new Folder</h1>

    {{ include('folder/_form.html.twig') }}

    <a href="{{ path('app_folder_index', {id: library.id}) }}">back to list</a>
    
{% endblock %}


