{% extends 'base.html.twig' %}

{% block title %}Library index{% endblock %}

{% block features %}{% endblock features %}

{% block data_show %}

    <ul>
        <h1><li class="data-list">Library index :</li></h1>
        {% for library in libraries %}
            <li class="data-list"><a href="{{ path('app_library_show', {'slug': library.slug}) }}">{{ library.name }}</a></li>
        {% else %}
            <li>no records found</li>
        {% endfor %}
        
    </ul>

    <a href="{{ path('app_library_new') }}">Create new</a>
{% endblock %}
