{% extends 'base.html.twig' %}

{% block title %}New Library{% endblock %}

{% block body %}
    <h1>Create new Library</h1>

    {{ include('library/_form.html.twig') }}

    <a href="{{ path('app_library_index') }}">back to list</a>
{% endblock %}
